<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- ... -->
    <add key="masterCatalog" value="C:\Users\Jasper\Documents\masterCatalog.xlsm"/>
    <add key="key" value="fCZgUTOa/GHmYLhpFkFd+A==" />
    <add key="pathEncryptorApp" value="C:\ProgramData\CatalogPrinter\EncryptorApp.exe" />
    <add key="pathToolsApp" value="C:\ProgramData\CatalogPrinter\ToolsApp.exe" />
    <add key="outputPath" value="C:\Users\Jasper\Documents\CatalogPrinter" />
    
    <add key="cellCatalogType" value="D100" />
    <add key="cellKorting" value="B3" />    
    <add key="cellBtw" value="A6" />
    <add key="cellFooterRight" value="B110" />
    <add key="cellFooterLeft" value="B108" />
    <add key="cellFooterMidFirst" value="B109" />
    <add key="cellFooterMidSecond" value="C109" />
    <add key="cellHeaderRight" value="B107" />
    <add key="cellHeaderLeft" value="B105" />
    <add key="cellHeaderMid" value="B106" />
    <add key="printArea" value="C3:M31" />

    <add key="sheetSummaryName" value="Overzicht werkbladen" />    
    
    <!-- ... -->
  </appSettings>
</configuration>