<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- ... -->
    <add key="masterCatalog" value="C:\Users\Jasper\Documents\CatalogPrinter\test.xlsx"/>
    <add key="key" value="fCZgUTOa/GHmYLhpFkFd+A==" />
    <!-- ... -->
  </appSettings>
</configuration>